body{
    background-color: rgb(248, 146, 121);
}
h1{
    text-align: center;
    letter-spacing: 20px;
    
}

h3{
    text-align: center;
}
p{
    font-size: 30px;

    background-color: brown;

    color: aliceblue;

    border-top: 10px rgb(24, 61, 228) double;
    border-bottom: 10px rgb(55, 177, 55) solid;
    border-right: 10px olive solid;
    border-left: 10px blue solid;

    padding-top: 50px;
    padding-bottom: 100px;
    padding-right: 50px;
    padding-left: 50px;

    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 200px;
}

a{
    text-decoration: underline;
    background-color: brown;
    color: aliceblue;
}